.headd{
	background-color:F7F6F6;	
	padding-top:0%;
	margin-top:-0.75%;
	margin-left:-0.75%;
	margin-right:-0.75%;	
}

.ccc{
width:100%;
border-top: 5px dotted #c0dbf9;	
margin-top:0.1%;
}

.hr2 {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px dotted #8c8b8b;
	border-bottom:1px dotted #da9f5a;
	margin-top:-8%;
}

 .foot .aboutـus-f1{
background-color: #c0dbf9;	
width:40%;
border-radius:20%;
text-align:center;
margin-left:720px;	
margin-bottom:10px;

}
.foot .aboutـus-f2{
background-color: #e4ba89;;	
width:40%;
border-radius:20%;
text-align:center;	
margin-right:700px;	
margin-top:-100px;
padding-left:5px;
}

.foot{
background-color:#F7F6F6;
padding-top:15px;
margin-bottom:-0.5px;
	
}

.foot .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius:50%;
}
		
.foot .fa:hover {
    opacity: 0.7;
}

.foot .fa-facebook {
  background: #3B5998;
  color: white;
}

.foot .fa-twitter {
  background: #55ACEE;
  color: white;
}

.foot .fa-instagram {
  background: #125688;
  color: white;
}
.foot .footer_botton{
	font-size:12px;	
	
}		
		
.hr3{
	border-top: 5px dotted #e4ba89;	
}

.main2.m button{
  display: inline-block;
}
 body {
        background-color: #E7EEF9;
        font-family: 'Ubuntu', sans-serif;
    }
  #icon,#icon2,#icon3,#icon4,#icon5,#icon6{
    
    font-size: 40px;
    

  }
    .main2 {
        background-color: #FFFFFF;
        width: 650px;
        height: 500px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
       
        
    }
	
	
		    .sign {
        padding-top: 40px;
        color: #e4ba89;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 23px;
    }
	
	
	
	    .type {
        cursor: pointer;
        width: 150px;
        height: 150px;
          border-radius: 5em;
          color: black;
          
          background: linear-gradient(to right, #da9f5a, #e4ba89);
          border: 0;
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 10px;
          padding-top: 10px;
          font-family: 'Ubuntu', sans-serif;
          margin-left: 50px;
          margin-bottom: 10px;
          font-size: 16px;
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      }
      
      div button:hover{
       background : #c0dbf9;
    }
	
	
	
	
	
	
	
	    @media (max-width: 600px) {
        .main {
            border-radius: 0px;
        }
	
	
	
	
	
	
	
	
	div .foot .aboutـus-f1{
background-color: #c0dbf9;	
width:40%;
border-radius:20%;
text-align:center;
margin-left:720px;	
margin-bottom:10px;

}
.foot .aboutـus-f2{
background-color: #e4ba89;;	
width:40%;
border-radius:20%;
text-align:center;	
margin-right:700px;	
margin-top:-100px;
padding-left:5px;
}

.foot{
background-color:#F7F6F6;

}

.foot .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius:50%;
}
		
.foot .fa:hover {
    opacity: 0.7;
}

.foot .fa-facebook {
  background: #3B5998;
  color: white;
}

.foot .fa-twitter {
  background: #55ACEE;
  color: white;
}

.foot .fa-instagram {
  background: #125688;
  color: white;
}
.foot .footer_botton{
	font-size:12px;	
	
}		
		
.hr3{
	border-top: 5px dotted #e4ba89;	
}		
